body {background-color: black;
      font-family: Verdana, Geneva, Tahoma, sans-serif}
h1{color:gray;}

#CalcCard{
    background-color: white;
    padding: 30px;
    float: left;
    border-radius: 25px;
    margin-left: 5%;
}
#Flilds{
   margin-left: 40px; 
}

#principal
{
    margin-left: 70px;
}
.slidecontainer
{
    position: absolute;
    margin-left: 140px;
    margin-top: -20px;
}
#percent{
    float: right;
    margin-top: 0px;
    margin-right: 85px;
}
.rangeValue{
    float: right;
    overflow: auto;
    
}
#years{
    width: 35px;
    margin-left: 35px;
}